@model IEnumerable<MVCFlowerApp.Models.tbl_products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @ViewBag.Message
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code_product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.tbl_categories.category == @ViewBag.Message)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code_product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                <label>Quantity</label>
                <input type="number" id="quantity" name="quantity" placeholder="0" />
                <a class="btn btn-success">Add To Cart</a>
                @model
            </td>
        </tr>
        </tr>
        }
     }

</table>
